html,
body  {
  height: 100%;
}

body { padding-top: 70px; }



#submitForm {
  width: 100%;
}

@media screen and (max-width: 575px) {


#search input {
  margin: 5px;
}

#search button {
  margin: 5px;
}

#search input[type="checkbox"]  {
  margin: 5px;
  /*padding 5px;*/
}

#resultText {
  text-align: center;
}

/*.custom-control.custom-checkbox {
  margin-left: 8px;
}*/

}

@media screen and (max-width: 575px) {
  .custom-controls-stacked {
    margin-left: 8px;
  }
}
/*
@include media-breakpoint-down(xs) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}*/
