html,
body  {
  height: 100%;
}

body { padding-top: 70px; }



#submitForm {
  width: 100%;
}

@media screen and (max-width: 767px) {


#search input {
  margin: 5px;
}

#search button {
  margin: 5px;
}

#filters  {
  margin: 5px;
}

}
/*
@include media-breakpoint-down(xs) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}*/
