html,
body  {
  height: 100%;
}

#nav-color  {
  background-color: #292b2c!important;
}


#submitForm {
  width: 100%;
}

@media screen and (max-width: 575px) {

  /*body { padding-top: 70px; }*/



#search input {
  margin: 5px;
}

#search button {
  margin: 5px;
}


#resultText {
  text-align: center;
}

.custom-controls-stacked {
  margin-left: 8px;
}

}

@media screen and (min-width: 575px) {

  /*body { padding-top: 70px; }*/



#search input {
  margin: 15px 0 15px 0;
}

#search button {
  margin: 15px 0 15px 0;
}

}

/*
@include media-breakpoint-down(xs) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}*/
